<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.welie.blessed" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>
